TP1/XMLSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Tp1Xml" xmlns:tns="http://www.example.org/Tp1Xml" elementFormDefault="qualified">

    <element name="film" type="tns:film"></element>

    <complexType name="film">
    	<sequence>
    		<element name="annee" type="string"></element>
    		<element name="titre" type="string"></element>
    		<element name="realisateur" type="string"></element>
    		<element name="role" type="tns:Role"></element>
    	</sequence>
    	<attribute name="id" type="string"></attribute>
    </complexType>


    <complexType name="Role"></complexType>

    <element name="producteur" type="tns:producteur"></element>
    
    <complexType name="producteur">
    	<sequence>
    		<element name="nom" type="string"></element>
    		<element name="Film" type="tns:fil"></element>
    	</sequence>
    </complexType>

    <complexType name="fil"></complexType>

    <element name="cinema" type="tns:Cinema"></element>
    
    <complexType name="Cinema"></complexType>
</schema>
